<div class="row">
<div class="col s4 offset-s5">
  <div class="row">
    <div class="input-field col s6">
      <input id="name-signup" type="text" class="validate">
      <label class="active" for="name-signup">Username</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input id="email-signup" type="text" class="validate">
      <label class="active" for="email-signup">Email</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input id="password-signup" type="text" class="validate">
      <label class="active" for="password-signup">Password</label>
    </div>
  </div>
  <a class="waves-effect waves-light btn">log in</a>
</div>
</div>

<script src="../public/js/login.js"></script>